<div class="head">
  <div class="header">
    <h1>WEB NOVEL</h1>
    <p></p>
    <a href="#" routerLink="/"><button mat-button (click)="dataPass('')">Home</button></a>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">Generes</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/novels" class="drop" (click)="dataPass('action')">Action</button>
        <button mat-menu-item routerLink="/novels" class="drop" (click)="dataPass('Realistic')">
          Realistic
        </button>
        <button mat-menu-item routerLink="/novels" class="drop" (click)="dataPass('history')">
          Historical
        </button>
      </mat-menu>
    </div>
    <a href="#" routerLink="/novels"><button mat-button (click)="dataPass('popular')">Popular</button></a>
    <a href="#" routerLink="/novels"><button mat-button (click)="dataPass('rating')">Rating</button></a>
    <a href="#" routerLink="/novels"><button mat-button>Contact Us</button></a>
  </div>
</div>
