<div class="outer">
  <div class='box'>
    <div>
      <h1>CONTACT US</h1>
      <p id="quote">If you have any questions,comments or concerns, feel free to contact us.</p>
    </div>
    <div class="contact">
      <div class="paragraph">
        <p><b>Address:</b><br>
          21-223,Kakinda,Andhra pradesh,India.</p><br>
        <p><b>Phone:</b><br>
          9876543210/9878798909</p><br>
        <p><b>Email:</b><br>
          rajesh123@gmail.com
        </p><br>
      </div>
      <div class="form">
        <div><input type="text" placeholder="Name" class="input" />
          <input type="text" placeholder="Email" id="input" /></div><br>
        <div><textarea rows="4" cols="100" placeholder="Write Your Message Here ..." class="message"></textarea><br>
          <button mat-button>send</button></div>
      </div>
    </div>
  </div>
</div>
